body{
    background-color: tomato;
    color: rgb(102, 101, 101);
    padding-top: 50px;
}

h1{
    font-size: 50px;
}

p{
    color: teal;
    font-size: 25px;
}

.second{
    margin-top: 50px;
    color: black;
    font-size: 40px;
}