body{
    background-color: rgb(68, 177, 240);
    color: rgb(102, 101, 101);
}

h1{
    font-size: 50px;
}

p{
    color: blueviolet;
    font-size: 25px;
}
/* first comment */
.second{
    margin-top: 50px;
    color: gray;
    font-size: 30px;
}

li.main{
    font-weight: 700;
    color: brown;

}

li {
    list-style: none;
    margin-bottom: 10px;
}

h4 {
    margin-top: 100px;
}

/* second comment */
.first_btn{
    padding: 20px;
    font-size: 15px;
    color: blue;
    background-color: bisque;
    border: solid 2px green;
    border-radius: 5px;
}

.main_hr {
    height: 3px;
    background-color: blueviolet;
}